decord==0.6.0
num2words==0.5.14
timm==1.0.14
ffmpeg-python==0.2.0
google-genai==1.10.0
qwen-omni-utils==0.0.8
qwen-vl-utils[decord]==0.0.8
keye-vl-utils[decord]==1.0.0
sk-video==1.1.10
einops==0.8.1  
aesthetic-predictor-v2-5==2024.12.18.1
scenedetect[opencv]==0.6.7.1
tensorflow==2.16.1